<table style="width:50%">
    <h2>Person</h2>
    <tr>
        <th>Id</th>
        <th>dvgId</th>
        <th>name</th>
        <th>vorname</th>
        <th>addresse</th>
        <th>email</th>
    </tr>
    {{#each this.data.person}}
    <tr>
        <td align="center">{{this.id}}</td>
        <td align="center">{{this.dvgId}}</td>
        <td align="center">{{this.name}}</td>
        <td align="center">{{this.vorname}}</td>
        <td align="center">{{this.adresse}}</td>
        <td align="center">{{this.email}}</td>
    </tr>
    {{/each}}
</table>

<table style="width:50%">
    <h2>Landesverband</h2>
    <tr>
        <th>Id</th>
        <th>name</th>
    </tr>
    {{#each this.data.landesverband}}
    <tr>
        <td align="center">{{this.id}}</td>
        <td align="center">{{this.name}}</td>
    </tr>
    {{/each}}
</table>


<table style="width:50%">
    <h2>Kreisverband</h2>
    <tr>
        <th>Id</th>
        <th>name</th>
        <th>landesverband</th>
    </tr>
    {{#each this.data.kreisverband}}
    <tr>
        <td align="center">{{this.id}}</td>
        <td align="center">{{this.name}}</td>
        <td align="center">{{this.landesverbandId}}</td>
    </tr>
    {{/each}}
</table>


<table style="width:50%">
    <h2>Verein</h2>
    <tr>
        <th>Id</th>
        <th>name</th>
        <th>landesverband</th>
        <th>kreisverband</th>
    </tr>
    {{#each this.data.verein}}
    <tr>
        <td align="center">{{this.id}}</td>
        <td align="center">{{this.name}}</td>
        <td align="center">{{this.landesverbandId}}</td>
        <td align="center">{{this.kreisverbandId}}</td>
    </tr>
    {{/each}}
</table>


<table style="width:50%">
    <h2>Kurs</h2>
    <tr>
        <th>Id</th>
        <th>Leiter</th>
        <th>Beginn</th>
    </tr>
    {{#each this.data.kurs}}
    <tr>
        <td align="center">{{this.id}}</td>
        <td align="center">{{this.leiterId}}</td>
        <td align="center">{{this.beginn}}</td>
    </tr>
    {{/each}}
</table>


<table style="width:50%">
    <h2>Prüfung</h2>
    <tr>
        <th>Id</th>
        <th>Prüfer</th>
        <th>Kurs</th>
        <th>Date</th>
    </tr>
    {{#each this.data.pruefung}}
    <tr>
        <td align="center">{{this.id}}</td>
        <td align="center">{{this.prueferId}}</td>
        <td align="center">{{this.kursId}}</td>
        <td align="center">{{this.date}}</td>
    </tr>
    {{/each}}
</table>